$video_width: 800px;

iframe.video {
  width: $video_width;
  display: block;
  height: 9 * $video_width / 16;
}
@media only screen and (max-width: $video_width) {
  iframe.video {
    $width: minmax(95vw, 95vh);
    width: $width;
    height: calc(9 * #{$width} / 16);
  }
}