$header_bgcolor: #3e60c4;
$header_txtcolor: white;
$header_highlight_color: #F0C419;
$std_whitespace: 10px;
$std_whitespace_before_heading: 10vh;
$content_frame_width: 500px;
$video_width: $content_frame_width;

%std_whitespace {
  margin: $std_whitespace;
  padding: $std_whitespace;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: sticky;
  background-color: $header_bgcolor;
  top: 0;

  > * {
    padding: 0 $std_whitespace;
  }

  img#header-img {
    height: 50px;
  }

  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $header_txtcolor;
  }
}

nav {
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
  }

  li {
    display: inline;
    padding: 0 10px;
  }

  a {
    font-weight: bold;
    font-size: 14pt;
    padding: 20px;
    text-decoration: none;
  }

  a:hover {
    color: $header_highlight_color;
    background-color: darken($header_bgcolor, 15%);
  }
}

main {
  @extend %std_whitespace;
  display: flex;
  flex-direction: column;
  align-items: center;

  > section {
    max-width: $content_frame_width;
    // compensate place used by sticky header
    scroll-margin-top: 100px;
    min-height: 100vh - $std_whitespace_before_heading;
  }

  iframe.video {
    width: $video_width;
    display: block;
    height: 9 * $video_width / 16;
  }
  @media only screen and (max-width: $video_width) {
    iframe.video {
      $width: calc(98vw - (4 * #{$std_whitespace}));
      width: $width;
      height: calc(9 * #{$width} / 16);
    }
  }
}

footer {
  @extend %std_whitespace;
  text-align: center;
}